
.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 10;
}

